{% extends 'base.html' %}
{% load static %}
{% load blog_tags %}
{% block content %}
  <body>
    <!-- start banner Area -->
    <section class="banner-area" id="home">
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="about-content blog-header-content col-lg-12">
            <h1 class="text-white">Welcome to my site!</h1>
            <p class="text-white">I'm sepanta and this is my blog project.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- End banner Area -->
    <br>
    <!-- Start post-content Area -->
    <section class="post-content-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 posts-list">
            {% for post in posts %}
              <div class="single-post row">
                <div class="col-lg-3  col-md-3 meta-details">
                  <ul class="tags">
                    {% for category in posts.category.all %}
                      <li>
                        <a href="{% url 'blog:cat_link' cat_name=category.name %}">
                          {{ category.name }}
                          {% if not forloop.last %},{% endif %}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                  <div class="user-details row">
                    <p class="user-name col-lg-12 col-md-12 col-6">
                      <a href="#">{{ post.author }}</a> <span class="lnr lnr-user"></span>
                    </p>
                    <p class="date col-lg-12 col-md-12 col-6">
                      <a href="#">{{ post.published_date|date:"d M Y" }}</a> <span class="lnr lnr-calendar-full"></span>
                    </p>
                    <p class="view col-lg-12 col-md-12 col-6">
                      <a href="#">{{ post.counted_views }}</a> <span class="lnr lnr-eye"></span>
                    </p>
                    <p class="comments col-lg-12 col-md-12 col-6">
                      <a href="#">{% comments_count post.id %} Comments</a> <span class="lnr lnr-bubble"></span>
                    </p>
                  </div>
                </div>
                <div class="col-lg-9 col-md-9 ">
                  <div class="feature-img">
                    <img class="img-fluid" src="{{ post.image.url }}" alt="">
                  </div>
                  <a class="posts-title" href="{% url 'blog:blog-single' pid=post.id %}">
                    <h3>{{ post.title }}</h3>
                  </a>
                  <p class="excert">{{ post.content|truncatechars:50|safe }}</p>
                  {% if post.status %}
                    <a href="{% url 'blog:blog-single' post.id %}" class="primary-btn">View More</a>
                  {% endif %}
                  <a href="{% url 'blog:post-update' post.id %}"class="primary-btn">Edit</a>
                  <a href="{% url 'blog:post-delete' post.id %}"class="primary-btn">Delete</a>
                </div>
              </div>
            {% endfor %}
            {% include "pagination.html" %}
          </div>
          {% include "blog/sidebar.html" %}
        </div>
      </div>
    </div>
  </section>
  <!-- End post-content Area -->
{% endblock %}
</body>
