{% load static %}
<nav class="blog-pagination justify-content-center d-flex">
    <ul class="pagination">
        <li class="page-item">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}"
                   class="page-link"
                   aria-label="Previous">
                    <span aria-hidden="true">
                        <span aria-hidden="true">&lsaquo;</span>
                        <span class="lnr lnr-chevron-left">Last</span>
                    </span>
                </a>
            {% endif %}
        </li>
        {% for index in page_obj.paginator.page_range %}
            {% if page_obj.number == index %}
                <li class="page-item active">
                    <a href="?page={{ index }}" class="page-link">{{ index }}</a>
                </li>
            {% else %}
                <li class="page-item">
                    <a href="?page={{ index }}" class="page-link">{{ index }}</a>
                </li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                <a class="page-link"
                   href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}"
                   aria-label="Next">
                    <span class="d-none d-md-inline">Next</span>
                    <span aria-hidden="true">&rsaquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>
